<!DOCTYPE HTML>
<html ng-app="lifestamp">
	<head>
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="static/js/angular.min.js"></script>
		<script type="text/javascript" src="static/js/script.js"></script>
	</head>
	<body>
		<div ng-controller="BuildPage as build">
			<p id="notification" ng-show="notification.visible">{{notification.text}}</p>
			<div class="jumbotron">
				<p>Home Page</p>
				<button ng-click='getMessage()' class="btn btn-primary">send tag</button>
				<button ng-click='showForm = true' class="btn btn-success">Create a new tag</button>

				<div ng-show="showForm">
					<input class="form-control" id="friendName" type="text" placeholder="Friend Name"/>
					<textarea class="form-control" id="message" type="text" placeholder="Message"></textarea>
				</div>

				<div class="jumbotron">
					<h3>New Message</h3>
					<blockquote>{{messages}}</blockquote>
				</div>

			</div>
		</div>
	</body>
</html>