<ion-view view-title="Browse">
  <ion-content>
    <h1>Browse</h1>
    <div ng-repeat="friend in friends">
    	<span>{{ friend.username }}</span>
    	<span>{{ friend.lastMessage }}</span>
    </div>
    <button ng-click="getFriends()">Test</button>
  	<h3> Profil Info </h3>
  	<div>
    	<h3>{{ profil.username }}</h3>
    	<h4>{{ profil.email }}</h4>
    	<div ng-repeat="friend in profil.friends">
    		<h5>{{ friend }}</h5>
    	</div>
    	<button ng-click="getProfil()">Info</button>
    </div>

  </ion-content>
</ion-view>
